# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
core/keyboards/__pycache__
node_modules
dist
.venv
core/__pycache__
core/filters/__pycache__
core/handlers/user/__pycache__
venv
dist-ssr
*.local
 core/handlers/__pycache__
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
core/middlewares/__pycache__